h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
h3 {font-weight: bold;
text-decoration: underline;
}
p { font-family: sans-serif;
}
img {
  float: right;
}
